HOME_PROD_HOSTNAME=<TO_BE_MODIFIED!!!>

HOME_PROD_INTERNAL_PORT=<TO_BE_MODIFIED!!!>

HOME_PROD_EXTERNAL_PORT=<TO_BE_MODIFIED!!!>

HOME_PROD_BASE_EXTERNAL_URL=<TO_BE_MODIFIED!!!>

HOME_PROD_APP_KEYS=<TO_BE_MODIFIED!!!>
HOME_PROD_API_TOKEN_SALT=<TO_BE_MODIFIED!!!>
HOME_PROD_ADMIN_JWT_SECRET=<TO_BE_MODIFIED!!!>
HOME_PROD_TRANSFER_TOKEN_SALT=<TO_BE_MODIFIED!!!>
HOME_PROD_JWT_SECRET=<TO_BE_MODIFIED!!!>

HOME_PROD_DATABASE_HOST=<TO_BE_MODIFIED!!!>
HOME_PROD_DATABASE_PORT=<TO_BE_MODIFIED!!!>
HOME_PROD_DATABASE_NAME=<TO_BE_MODIFIED!!!>
HOME_PROD_DATABASE_USERNAME=<TO_BE_MODIFIED!!!>
HOME_PROD_DATABASE_PASSWORD=<TO_BE_MODIFIED!!!>

HOME_PROD_AWS_ACCESS_KEY_ID=<TO_BE_MODIFIED!!!>
HOME_PROD_AWS_ACCESS_SECRET_KEY=<TO_BE_MODIFIED!!!>

HOME_PROD_AWS_ENDPOINT=<TO_BE_MODIFIED!!!>
HOME_PROD_AWS_BUCKET=<TO_BE_MODIFIED!!!>

HOME_PROD_AWS_SUBFOLDER_NAME=<TO_BE_MODIFIED!!!>
HOME_PROD_AWS_REGION=<TO_BE_MODIFIED!!!>

HOME_PROD_PREVIEW_SECRET=<TO_BE_MODIFIED!!!>
