image:
  tag: "latest"

extraConfigMapEnvVars:
  CMS_URL: "http://home-cms-nginx:40120"
  FRONTEND_URL: "{{ .Values.baseExternalUrl }}"

  CMS_EMAIL: "{{ .Values.HOME_CMS_EMAIL }}"
  CMS_PASSWORD: "{{ .Values.HOME_CMS_PASSWORD }}"

  PREVIEW_SECRET: "{{ .Values.HOME_PREVIEW_SECRET }}"